.about__container {
    background: linear-gradient(90.23deg, #323844 26.42%, rgba(50, 56, 68, 0.36) 80.04%), url('../../assets/aboutbanner.webp');
    background-size: cover;
    background-position: center;
    height: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-secondary);
    max-width: 2160px;
    margin: auto;
}

.about__container h1 {
    font-size: 48px;
    font-weight: 700;
    padding: 94px 0px 54px 80px;
}

@media screen and (max-width: 768px) {
    .about__container h1 {
        font-size: 28px;
    }
}