.services-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
}

.services-section-divisor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.services-section__header h1 {
    font-size: 24px;
    font-weight: 500;
}

.services-section__cards {
    display: grid;
    gap: 20px;
    padding: 40px 0px;
}

.service-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 559px;
    border-radius: 10px;
    border: 0.8px solid #D2D2D2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.service-card img {
    width: 60px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 16px;
}

.service-card p {
    font-size: 12px;
}

@media screen and (min-width: 1200px) {
    .services-section {
        max-width: 1440px;
        padding: 75px;
    }

    .services-section__header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .services-section__header h1 {
        font-size: 36px;
    }

    .services-section__header p {
        font-size: 20px;
    }

    .services-section-divisor {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 81px;
        max-height: 580px;
        margin-bottom: 20px;
    }
    
    .service-card {
        flex-direction: row;
        border: 0.8px solid #D2D2D2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .service-card img {
        width: 60px;
        margin-right: 20px;
        margin-bottom: 0;

    }

    .service-card h3 {
        font-size: 18px;
    }

    .service-card p {
        font-size: 14px;
    }

    .services-section__info img {
        width: 100%;
        max-width: 531px;
        max-height: 580px;
    }
}