.partners-container {
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}

.partner-logos {
    display: flex;
    width: max-content;
}

.partner-card {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    animation: scroll 20s linear infinite;
    padding: 1rem;
}

.partner-card img {
    width: 150px;
    height: 100px;
    cursor: pointer;
    aspect-ratio: 1.5;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}

.partner-card:not(:hover) img {
    filter: grayscale(100%);
}

.partner-card:hover img {
    filter: none;
    filter: brightness(1.2) contrast(1.2);
}

.partner-card h3 {
    margin-top: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
