.work-with-us {
    background: linear-gradient(270.23deg, #323844 26.42%, rgba(50, 56, 68, 0.36) 80.04%), linear-gradient(271deg, #323844 0%, rgba(50, 56, 68, 0.36) 100%), url('../../assets/workwhitus.webp');
    background-size: cover;
    background-position: center;
    color: var(--text-secondary);
    max-height: 582px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
    max-width: 2160px;
    margin: 0 auto;
    margin-bottom: 189px;
}

.section_work {
    padding: 173px 80px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.work-with-us__title {
    font-size: 36px;
    width: 600px;
    color: var(--background-color);
    font-weight: 300;
}

.work-with-us__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 10px 20px;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.contact_cards {
    position: absolute;
    width: 100%;
    bottom: -102px;
    left: 50%; 
    transform: translateX(-50%);
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 1200px) {
    .work-with-us {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .section_work {
        padding: 90px 20px;
    }

    .work-with-us__title {
        font-size: 24px; 
        width: auto; 
    }

    .contact_cards {
        display: none;
        transform: none; 
    }
}