.work-with-us {
    background: linear-gradient(270.23deg, #323844 26.42%, rgba(50, 56, 68, 0.36) 80.04%), linear-gradient(271deg, #323844 0%, rgba(50, 56, 68, 0.36) 100%), url('../../assets/workwhitus.webp');
    background-size: cover;
    background-position: center;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end;
    max-width: 2160px;
    margin: auto;
    padding: 104px 80px;
    max-height: 341px;
}

.section_work {
    text-align: right;
    font-size: 36px;
    font-weight: 300;
}

.work-with-us__title {
    max-width: 700px;
    font-size: 36px;
    color: var(--background-color);
    font-weight: 300;
    text-align: right; 
    margin: 0 auto; 
}

.work-with-us__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 50px;
    padding: 12px 24px;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: inherit;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 1200px) {
    .work-with-us {
        padding: 1rem;
        text-align: center;
    }

    .section_work {
        justify-content: center;
        padding: 60px 20px;
    }

    .work-with-us__title {
        font-size: 24px;
        max-width: 100%; /* Para asegurar que el título no exceda el ancho del contenedor */
    }
}
