.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__title {
    display: flex;
    gap: 1rem;
    font-size:24px;
    font-weight: 600;
    text-align: center;
}

.services__title img {
    width: 15px;
}

.services__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.services__card {
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%; 
    max-width: 250px;
    height: 250px;
    padding: 20px;
}

.services__card-icon {
    width: 80px;
}

.services__card-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.services__card-description {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .services {
        padding: 40px; 
    }

    .services__title {
        font-size: 36px; 
    }

    .services__cards {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
        padding: 30px;
    }
}
