.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
}

.services__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__title h2 {
    font-size: 24px;
    margin: 0;
}

.services__title p {
    font-size: 16px;
    margin-top:15px;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    gap: 40px;
}

.services__card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 320px;
    max-height: 260px;
    padding: 30px 24px;
    border: 0.8px solid #D2D2D2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 250px;
}

.services__card-icon {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}

.services__card-title {
    font-size: 20px;
    font-weight: 500;
}

.services__card-description {
    margin-top: 12px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .services {
        padding: 40px;
    }

    .services__title h2 {
        font-size: 36px;        
    }

    .services__title p {
        font-size: 20px;
    }
}