.about-us {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: var(--background-terciary);
    gap: 1.25rem;
}

/* contenedor de imagenes */
.about-us__images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.about-us__image-large,
.about-us__image-small {
    max-width: 100%;
    height: auto;
}

/* contenedor de contenidos */

.about-us__content {
    font-size: 16px;
}


.about-us__title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 1rem;
}


.about-us__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-us__list-item {
    align-items: center;
    margin: 24px 0px;
}

.about-us__list-item::before {
    content: '✔';
    margin-right: 5px;
}

.about-us__additional-text {
    display: flex;
    gap: 1rem;
    margin-top: 40px;
    border-radius: 16px;
    padding: 6px 24px;
    background-color: azure;
}

.about-us__additional-text img {
    width: 20px;
}

.about-us__button {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    width: 260px;
    height: 60px;
    justify-content: center;
    background-color: var(--background-secondary);
    color: var(--background-color);
    text-decoration: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        padding: 77px 80px;
        max-height: 660px;
        max-width: 2160px;
    }

    .about-us__content {
        font-size: 16px;
    }
    
    .about-us__title {
        font-size: 48px;
    }  
    
    .about-us__images {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        max-width: 600px;
    }

    .about-us__image-large,
    .about-us__image-small {
        border: solid 2px #ccc;
        border-radius: 20px;
    }

    .about-us__image-large {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 363px;
        height: 396px;
    }

    .about-us__image-small {
        position: absolute;
        padding: 20px;
        max-width: 262px;
        height: 264px;
        bottom: 0;
        right: 0;
        background-color: var(--background-color);
    }
}