.about-us {
    display: flex;
    flex-direction: column;
    background-color: var(--background-terciary);
    padding: 1rem;
    margin: auto;
    max-width: 2160px;
}

/* Contenedor de imagenes */

.about-us__image-large,
.about-us__image-small {
    display: none;
}

/* contenedor de contenidos */

.about-us__content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.about-us__title {
    display: flex;
    font-weight: 500;
    justify-content: center;
    font-size: 24px;
    margin-top: 10.85px;
    margin-bottom: 24px;
}

.about-us__description {
    margin: 0;
    font-weight: 400;
    align-self: stretch;
    line-height: 22px;
    margin-bottom: 24px;
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
    hyphenate-character: "\2010";
}

.about-us__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 48px;
    gap: 24px;
}

.about-us__list-item {
    align-items: center;
}

.about-us__list-item::before {
    content: '✔';
    margin-right: 5px;
}

.about-us__button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    background-color: var(--background-secondary);
    color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 24px;
    font-size: 1rem;
    font-family: inherit;
    border: none;
}

@media (min-width: 1200px) {
    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 77px 80px;
        max-height: 660px;
    }

    .about-us__images {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;
        max-width: 600px;
    }

    .about-us__image-large,
    .about-us__image-small {
        display: flex;
        border-radius: 16px;
    }

    .about-us__image-large {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 400px;
        height: 420px;
    }

    .about-us__image-small {
        position: absolute;
        padding: 17.65px;
        max-width: 227.29px;
        height: 229.41px;
        bottom: 0;
        right: 0;
        background-color: var(--background-color);
    }

    .about-us__content {
        max-height: 505.71px;
    }

    .about-us__title {
        font-size: 32px;
    }

    .about-us__button {
        padding: 19px 63px;
        max-width: 552px;
    }
}