.contact-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.contact-card {
    width: 250px;
    margin: 10px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 16px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.contact-card__icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-card__content {
    margin-top: 10px;
}

.contact-card__title {
    margin: 0;
    font-size: 20px;
}

.contact-card__subtitle {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

.contact-card__subtitle a {
    color: var(--text-color);
}

.contact-card__subtitle a:hover {
    color: var(--text-color);
}

@media (min-width:768px) {
    .contact-cards {
        padding: 81px 0px;
    }

}