.home-container {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 1) 100%), url('../../assets/background.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: var(--text-secondary);
    padding-left: 4.6875rem;
    padding-top: 9rem;
    max-width: 135rem;
    margin: auto;
}

.home-container h1 {
    font-size: 3rem;
    max-width: 31.25rem;
    font-weight: 700;
    margin: 0;
}

.home-container p {
    font-size: 1rem;
    max-width: 37.5rem;
    margin-bottom: 1.875rem;
}

.home-container button {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: inherit;
    border: none;
    border-radius: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125rem 0.9375rem;
}

@media screen and (max-width: 768px) {
    .home-container {
        padding-left: 1rem;
        min-height: 50vh;
    }
    .home-container h1 {
        font-size: 1.5rem;
    }   

    .home-container button {
        font-size: 1rem;
    }
}
