.home_container {
    background: linear-gradient(90.23deg, #323844 5.42%, rgba(50, 56, 68, 0.36) 80%), url('../../assets/background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-secondary);
    min-height: 100vh;
}

.info_home {
    padding:8rem 3rem;
}

.info_home h1 {
    font-size: 1.2rem;
    max-width: 500px;
    font-weight: 700;
    margin: 0;
}

.info_home p {
    font-size: 1rem;
    max-width: 500px;
    margin-bottom: 1.875rem;
}

.info_home button {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: inherit;
    border: none;
    border-radius: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125rem 0.9375rem;
}

@media screen and (min-width: 768px) {
    .home_container{
        background: linear-gradient(90.23deg, #323844 35.42%, rgba(50, 56, 68, 0.36) 80%), url('../../assets/background.webp');
        background-position: right;
        max-width: 135rem;
        background-size: contain;
        margin: auto;
    }
    
    .info_home{
        padding:144px 80px;
    }

    .info_home h1 {
        font-size: 3rem;
    }

    .info_home p {
        max-width: 37.5rem;
    }

    .info_home button {
        font-size: 1rem;
    }
}
