.team__container {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 3rem;
}

.team__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.team__description {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    place-items: center;
    border-radius: .5rem;
}

.team__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 300px;
    max-height: 443px;
    text-align: center;
    overflow: hidden;
    border-radius: .5rem;
    padding: 1rem 0rem;
}

.team__card-img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.team__card-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.team__card-tecnico {
    font-size: 14px;
    margin-bottom: 10px;
}

.team__card-contact {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 12px 24px;
    background-color: #323844;
    border-radius: 5px;
    color: var(--background-color);
    border: none;
}

.team__card-contact img {
    width: 21px;
}

@media screen and (min-width: 1200px) {
    .team__title {
        font-size: 48px;
    }

    .team__description {
        font-size: 32px;
    }
}