.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 56px;
    padding: 16px 80px;
    max-width: 2160px;
    margin: 0 auto;
}

.menu {
    display: flex;
    padding-top: 24px;
}

.menu a {
    text-decoration: none;
    margin-left: 20px;
    transition: opacity 0.3s ease;
    color: var(--text-color);
    position: relative;
    border-bottom: 8px solid var(--background-color);
    font-weight: 500;
}

.menu a:hover {
    color: var(--text-color);
    border-bottom: 4px solid var(--secondary-color);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        gap: 16px;
        background-color: var(--background-color);
    }

    .menu.open {
        display: flex;
    }

    .menu a {
        border-bottom: 0px solid var(--background-color);
        margin-bottom: 10px;
    }

    .menu a:hover {
        color: var(--text-color);
        border-bottom: 0px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger .line {
        width: 35px;
        background-color: var(--text-color);
        height: 3px;
        margin: 3px;
        transition: transform 0.3s ease;
    }

    .hamburger.open .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}