.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    gap: 2rem;
    padding: 0px 72px;
    margin: auto;
}

.contact-us__form-container {
    max-width: 552px;
    max-height: 703px;
}

.contact-us__form {
    max-width: 504px;
}

.container_two-inputs {
    display: flex;
    width: 100%;
    gap: 10px;
}

.contact-us__form-row {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.contact-us__form-row label {
    font-size: 16px;
    font-weight: bold;
}

.contact-us__form-row label::after {
    content: " *";
    color: var(--secondary-color);
}

.contact-us__form-row input,
.contact-us__form-row textarea {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-family: inherit;
}

.contact-us__form-row input {
    max-width: 247px;
}

.contact-us__form-row textarea {
    resize: vertical;
    min-height: 220px;
}

.contact-us__form-row span {
    font-size: 14px;
    color: red;
    font-weight: 500;
    position: absolute;
    bottom: -1rem;
    left: 0;
}

.contact-us__form button {
    width: 100%;
    padding: 16px 0px;
    font-size: 20px;
    background-color: var(--background-secondary);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}

.contact-us__form button:hover {
    background-color: #0009;
}

.contact-us__form button:focus {
    outline: none;
}

.contact-us__form button:active {
    background-color: #0009;
}

/* contenedor de imagenes */

.contact-us__imgs-container {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;
}

.contact-us__image1,
.contact-us__image2 {
    border-radius: 2rem;
}

.contact-us__image1 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 429px;
    height: 619px;
}

.contact-us__image2 {
    position: absolute;
    padding: 20px;
    max-width: 260px;
    height: 265px;
    bottom: 0;
    left: 0;
    background-color: var(--background-color);
    border-radius: 16px;
    background: #FEFEFE;
    box-shadow: -5.450823783874512px 6.05647087097168px 15.562962532043457px 0px rgba(0, 0, 0, 0.05), -25.76753044128418px 28.63058853149414px 60.8370361328125px 0px rgba(0, 0, 0, 0.07), -66.89647674560547px 74.32941436767578px 191px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
    .contact-us {
        grid-template-columns: 1fr;
        margin: auto;
        padding: 1rem;
        width: 100%;
        max-width: 480px;
    }

    .contact-us__form-container {
        max-width: 100%;
        max-height: none;
    }

    .contact-us__image1,
    .contact-us__image2 {
        display: none;
    }
}