.testimonials {
    max-width: 2160px;
    margin-top: 4rem;
    padding: 1rem;
    background-color: var(--background-terciary);
    overflow: hidden; 
}

.testimonials__title {
    font-size: 24px;
    font-weight: bold;
}

.testimonials__cards {
    display: flex;
    gap: 1rem;
    animation: scrollTestimonials 30s linear infinite;
}

.testimonials__card {
    display: flex;
    flex-direction: column;
    padding: 30px 24px;
    border-radius: 10px;
    justify-content: space-between;
    height: auto;
    background-color: var(--secondary-color);
    max-height: 258px;
    min-width: 363px;
}

.testimonials__card-text {
    font-size: 16px;
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
    hyphenate-character: "\2010"; 
}

.testimonials__card-author {
    display: flex;
    flex-direction: column;
}

.testimonials__card-author-name {
    font-size: 20px;
    margin: 5px;
    font-weight: 500;
}

.testimonials__card-star-icon {
    font-size: 20px;
    color: var(--background-color);
    margin-bottom: -3px;
}

.testimonials__card-rating {
    font-weight: 600;
    margin-left: .5rem;
}

@keyframes scrollTestimonials {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


@media screen and (min-width: 768px) {
    .testimonials {
        padding: 62px 80px;
    }

    .testimonials__title {
        font-size: 48px;
    }
}