@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --background-color: #FEFEFE;
  --background-secondary: #323844;
  --background-terciary:#d9d9d9;
  --secondary-color: #F6C436;
  --text-color: #323844;
  --text-secondary: #FEFEFE;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h1,h2,h3,h4 {
  margin: 0;
}

body.Light__Mode {
  --background-color: #f9f5f6;
  --quaternary-color:#0003;
  --text-color: #1b1b1b;
  --link-color: #1b1b1b;
  --scrollbar-track-color: #f9f5f6;
  --scrollbar-thumb-color: #1b1b1b;
}

ul,
li {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--background-fixed);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 0.5rem;
} */